[submodule "mo2"]
	path = mo2
	url = git@github.com:PKHackers/MO2YAML.git
[submodule "mo3"]
	path = mo3
	url = git@github.com:PKHackers/MO3YAML.git
[submodule "eb"]
	path = eb
	url = git@github.com:PKHackers/EBYAML.git
