[submodule "mo2"]
	path = games/mo2
	url = git@github.com:PKHackers/MO2YAML.git
[submodule "mo3"]
	path = games/mo3
	url = git@github.com:PKHackers/MO3YAML.git
[submodule "eb"]
	path = games/eb
	url = git@github.com:PKHackers/EBYAML.git
